
@import url('https://fonts.googleapis.com/css2?family=Carlito:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

nav.navbar {
    background-color: #B3DDED !important;
    padding: 10px;
}
/* Center navbar items */
.navbar-nav {
    margin: 0 auto;
}

title {
    text-align: center;
}



body {
    font-family: 'Roboto', 'Carlito', 'sans-serif';
    background-color: #fbf2d1;
    color: #0c3f72;
    height: 100%;
    display: flex;
    flex-direction: column;
}

 h1, h2 {
    margin: 10px;
    text-align: center;
}

.card-img-top {
    height: 320px;
}

.ukr {
    height: 412.77px;
}


a {
    color: #0c3f72;
    text-decoration: none;
}
 a:hover{
    color: #ee4e04;}

  section .text-dark {
      background-color: #8ECAE6;
  }

  main {

      flex: 1;}

footer {
      background-color: #F1C232;
      font-size: smaller;
      padding: 20px;
      margin-top: 20px;
      text-align: center;
}

.card-7 {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    max-width: 800px; /*Sets maximum width for larger screens*/ 
    width: 100%;
}

/* Media query: Responsive card-7 sizing for larger screens*/
@media (max-width: 768px) {
    .card-7 {
        max-width: 100%; /*Makes it take full available width up to max-width*/
        padding: 0 15px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .card-7 {
        max-width: 600px;
    }
}



  